/* Container principal de la page */
.mainContainer {
 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  /* En-tête avec titre et sous-titre */
  .headerContainer {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
  }
  
  /* Texte de chargement */
  .loadingText {
    font-size: 1.5rem;
    text-align: center;
    color: #007bff;
  }
  
  /* Container des articles */
  .containerPost {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    padding: 0 10px;
  }
  
  /* Ajout de marges autour des articles dans la grille */
  .containerPost > div {
    margin-bottom: 20px;
  }
  
  /* Ajout de marges et d'ombre pour l'effet carte */
  .containerPost > div:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Responsive Design: Tablettes et appareils mobiles */
  
  /* Pour les tablettes (min-width: 768px) */
  @media (max-width: 768px) {
    .mainContainer {
      padding: 15px;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .subtitle {
      font-size: 1rem;
      max-width: 600px;
    }
  
    .containerPost {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
  
  /* Pour les petits écrans (mobiles, max-width: 480px) */
  @media (max-width: 480px) {
    .mainContainer {
      padding: 10px;
    }
  
    .title {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .subtitle {
      font-size: 0.9rem;
      max-width: 100%;
    }
  
    .containerPost {
      grid-template-columns: 1fr; /* Afficher un seul article par ligne sur les petits écrans */
      gap: 10px;
    }
  }
  
  