


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color:#05051d;
}
main{
margin:20px 0;
}

a{
  text-decoration: none;
  color:#05051d;
  font-size: 1rem;
}
button{
border: none;
font-size: 1.2rem;
background-color: #2a2a68;
color:#f1d7b8;
border-radius: 5px;
padding:5px 10px;
cursor: pointer;
}
button:hover{
  background-color: #9090bb; ;
}
hr{
 
  width: 90px;
  color:#323272;
  color:#d17307;
  margin: 0 auto;
}
label{
  padding-right: 40px;
}

input{
  width:300px;
  padding-bottom: 10px;
margin-bottom: 30px;


}
