


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color:#05051d;
}
main{
margin:20px 0;
}

a{
  text-decoration: none;
  color:#05051d;
  font-size: 1rem;
}
button{
border: none;
font-size: 1.2rem;
background-color: #323272;
color:#f1dada;
border-radius: 5px;
padding:2px 5px;
cursor: pointer;
}
hr{
 
  width: 90px;
  color:#323272;
  margin: 0 auto;
}

