* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #05051d;
}
main {
  background-color: #eff4fa;
}

a {
  text-decoration: none;
  color: #05051d;
  font-size: 1rem;
}
button {
  border: none;
  background-color: #41415c;
  color: #f1d7b8;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: #9090bb;
}
hr {
  width: 90px;
  color: #323272;
  color: #d17307;
  margin: 0 auto;
}

textarea {
  resize: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
