
.sidebar{
    margin-top: 50px;
  
}
.createPostBtn{
    padding: 10px;
    margin: 50px ;
    box-shadow:  10px 7px 7px 4px #818198;
}
.createPostBtn button{
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    color: #dbdbe7;
  
    width: 20vw;
    height: 20vh;
   
 }